# This is an example of the environment variables needed for the system
# Copy this file to .env and change the values for production

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=your_secure_password_here
